.projetos {
    text-align: center;
    margin-top: 5rem;
}

.projetos__titulo {
    font-family: 'face', 'Poppins';
    font-size: 2.5rem;

    margin-bottom: 1.5rem;
}


.projetos__container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
}

.projetos__lista-conteudo {
    box-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
    
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    max-height: 6rem;
    width: 14rem;
}

.projetos__lista-conteudo img{
    width: fit-content;
}

.projetos__lista-conteudo p{
    font-weight: 600;
}

.projetos__lista-conteudo:nth-child(1){
    background-color: var(--preto-opaco);
    border-radius: .5rem .5rem 0rem 0rem;
    height: 5rem;
}

.projetos__lista-conteudo:nth-child(2){
    background-color: var(--roxo-claro);
    border-radius: 0rem 0rem .5rem .5rem;
}

.conteudo__lista-social{
    font-size: 1.5rem;

    display: flex;
    gap: 1rem;

    margin: auto;
}

.conteudo__lista-social i:hover{
    transition: .5s all;
    opacity: .8;
    scale: .8;
}